

body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f6f0;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F9F6EE;
    box-shadow: 6px 6px 0px #000000; /* Offset X, Offset Y, Blur, Warna */
    border: 3px solid black;
    padding: 8px;
    border-radius: 12px;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105%;
    background-color: #F9F6EE;
    border-bottom: 2px solid black;
    padding: 0;
    margin: 16px;
}

.content {
    background-color: #F9F6EE;
    border: 2px solid black;
    padding: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

}

h1 {
    padding: 0;
    margin: 0;


}

p {
    color: grey;
   

}

input {
    padding: 8px;
    width: 500px;

    border: 2px solid black;
    border-radius: 12px;

    margin: 8px;
}

button {
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 12px;
    margin: 8px;
}

button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 0px #000;
}

button:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px #000;
}

form {
    display: flex;

}

.option {
    display: flex;
    align-self: flex-start;
    cursor: pointer;

}

.option div {
    padding: 8px;
    background-color: white;
    border-radius: 16px;
    border: 2px solid black;
    margin: 4px;
    margin-left: 16px;

}

.option div:hover {
   transform: translate(-1px, -1px);
   box-shadow: 3px 3px 0px #000;
}

.option div:active {
   transform: translate(1px, 1px);
   box-shadow: 1px 1px 0px #000;
}

.option .All {
    background-color: #000000;
    color: white;

}

.kegiatan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    

}

.kegiatan ul {
    background-color: white;
    border: 2px solid black;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 12px;
    margin: 8px;
    font-size: 15px;
    padding: 2px;
    width: 575px;

}

ul {
    list-style-type: none;
}

li {
    background-color: #F9F6EE;
    border: 2px solid black;
    border-radius: 12px;
    padding: 8px;

}

